__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/.venv
venv/
# ENV/ (Removed because it blocks 'env/' on case-insensitive systems)
.idea/
.vscode/
*.log
test_logic.py
submission_summary.md
HF_DEPLOY_GUIDE.md
